{
  "openapi": "3.1.0",
  "info": {
    "title": "Sednicon API",
    "description": "Sednicon is a lightweight, headless icon rendering API that generates customizable SVG icons on the fly via a single URL. No installation, no dependencies, no API key — just a URL. Backed by Iconify's 200,000+ icon network with a multi-set fallback chain, so a valid SVG is always returned.",
    "version": "4.0.0",
    "contact": {
      "name": "Sednium",
      "url": "https://sednium.com"
    },
    "license": {
      "name": "MIT",
      "url": "https://github.com/AnkushDas4/SEDNICON/blob/main/README.md"
    }
  },
  "servers": [
    {
      "url": "https://sednicon.sednium.com",
      "description": "Production"
    }
  ],
  "tags": [
    { "name": "Icons", "description": "Render dynamic SVG icons" },
    { "name": "AI Generate", "description": "AI-powered SVG icon generation" },
    { "name": "Batch", "description": "Batch icon rendering (sprite/JSON)" },
    { "name": "Status", "description": "API health and version information" }
  ],
  "paths": {
    "/api/render": {
      "get": {
        "tags": ["Icons"],
        "summary": "Render an icon as SVG",
        "description": "Returns an SVG image for the requested icon name, with optional color, size, and animation customization. Always returns a valid SVG with HTTP 200 — if the requested icon name cannot be matched in any icon set, a generic placeholder icon is returned instead.",
        "operationId": "renderIcon",
        "parameters": [
          {
            "name": "q",
            "in": "query",
            "description": "Icon name to render. Accepts names from Material Symbols, Lucide, Simple Icons (brand logos), and 12+ other icon sets via automatic fallback. An explicit set can be specified using `set:name` syntax (e.g. `lucide:home`).",
            "required": false,
            "schema": {
              "type": "string",
              "default": "circle",
              "examples": ["rocket", "github", "home", "lucide:home"]
            }
          },
          {
            "name": "color",
            "in": "query",
            "description": "Icon color as a hex code (with or without leading `#`) or a CSS color keyword.",
            "required": false,
            "schema": {
              "type": "string",
              "default": "000000",
              "examples": ["000000", "ff6600", "2563eb", "red"]
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "Icon width and height in pixels. Clamped to the range 1–2048.",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 24,
              "minimum": 1,
              "maximum": 2048,
              "examples": [24, 48, 64, 128]
            }
          },
          {
            "name": "anim",
            "in": "query",
            "description": "Optional animation style to apply to the icon.",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["spin", "pulse", "bounce"],
              "examples": ["spin"]
            }
          },
          {
            "name": "set",
            "in": "query",
            "description": "Optional explicit Iconify icon set prefix to force (e.g. `lucide`, `tabler`, `mdi`). Overrides automatic fallback for this request.",
            "required": false,
            "schema": {"type": "string", "examples": ["lucide", "tabler", "mdi", "phosphor"]}
          },
          {
            "name": "format",
            "in": "query",
            "description": "Output format. Currently serves high-fidelity SVG (image/svg+xml).",
            "required": false,
            "schema": {"type": "string", "enum": ["svg"], "default": "svg"}
          }
        ],
        "responses": {
          "200": {
            "description": "SVG icon, styled with the requested color and size.",
            "headers": {
              "Content-Type": {"schema": {"type": "string", "example": "image/svg+xml; charset=utf-8"}},
              "Cache-Control": {"schema": {"type": "string", "example": "public, max-age=86400, s-maxage=604800, stale-while-revalidate=2592000, immutable"}},
              "X-Sednicon-Source": {"description": "Icon source: iconify:set, custom-brand, iconify:search, ai-generated, generic-fallback", "schema": {"type": "string"}},
              "X-Sednicon-Cache": {"schema": {"type": "string", "enum": ["HIT", "MISS"]}},
              "X-RateLimit-Limit": {"schema": {"type": "string"}},
              "X-RateLimit-Window": {"schema": {"type": "string", "example": "60s"}}
            },
            "content": {
              "image/svg+xml": {"schema": {"type": "string", "format": "binary"}}
            }
          },
          "429": {"description": "Rate limited"},
          "204": {"description": "CORS preflight response (OPTIONS request)."}
        }
      }
    },
    "/api/generate": {
      "post": {
        "tags": ["AI Generate"],
        "summary": "Generate a custom SVG icon using AI",
        "description": "Generates an SVG icon using the selected AI provider. Supports 8 providers: Gemini, OpenAI, Anthropic, Groq, Mistral, Together AI, Nvidia, OpenRouter.",
        "operationId": "generateIcon",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["prompt", "apiKey"],
                "properties": {
                  "prompt": {"type": "string", "maxLength": 500, "description": "Text description of the icon to generate"},
                  "provider": {"type": "string", "enum": ["gemini", "openai", "anthropic", "groq", "mistral", "together", "nvidia", "openrouter"], "default": "gemini"},
                  "model": {"type": "string", "description": "Specific model (default per provider)"},
                  "apiKey": {"type": "string", "description": "User's own API key for the provider"},
                  "size": {"type": "integer", "minimum": 1, "maximum": 2048, "default": 24},
                  "color": {"type": "string", "default": "000000"},
                  "style": {"type": "string", "enum": ["fill", "stroke"], "default": "fill"},
                  "strokeWidth": {"type": "number", "default": 2},
                  "corner": {"type": "string", "enum": ["round", "sharp"], "default": "round"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Generated icon",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "svg": {"type": "string"},
                    "size": {"type": "integer"},
                    "color": {"type": "string"},
                    "provider": {"type": "string"},
                    "model": {"type": "string"}
                  }
                }
              }
            }
          },
          "400": {"description": "Validation error"}
        }
      }
    },
    "/api/sprite": {
      "post": {
        "tags": ["Batch"],
        "summary": "Fetch multiple icons in a single request",
        "description": "Accepts an array of icon names and returns them as an SVG sprite or JSON array. Maximum 50 icons per request.",
        "operationId": "getSprite",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["icons"],
                "properties": {
                  "icons": {"type": "array", "maxItems": 50, "items": {"type": "object", "properties": {
                    "q": {"type": "string", "description": "Icon name (same as ?q= in /api/render)"},
                    "color": {"type": "string"},
                    "size": {"type": "integer"}
                  }}},
                  "format": {"type": "string", "enum": ["symbol", "json"], "default": "symbol"}
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "SVG sprite or JSON array",
            "content": {
              "image/svg+xml": {"schema": {"type": "string"}},
              "application/json": {"schema": {"type": "object", "properties": {"icons": {"type": "array"}}}}
            }
          },
          "429": {"description": "Rate limited"}
        }
      }
    },
    "/api/status": {
      "get": {
        "tags": ["Status"],
        "summary": "API health and version information",
        "description": "Returns the current operational status of the Sednicon API, version metadata, and the health of upstream dependencies (Iconify).",
        "operationId": "getStatus",
        "responses": {
          "200": {
            "description": "Service is operational.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": ["operational", "degraded"]
                    },
                    "version": { "type": "string" },
                    "released": { "type": "string", "format": "date" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "dependencies": {
                      "type": "object",
                      "properties": {
                        "iconify": {
                          "type": "string",
                          "enum": ["operational", "degraded", "unreachable", "unknown"]
                        }
                      }
                    },
                    "upstream_check_ms": { "type": "integer" },
                    "endpoints": {
                      "type": "object",
                      "properties": {
                        "render": { "type": "string" },
                        "status": { "type": "string" }
                      }
                    },
                    "region": { "type": "string" }
                  }
                }
              }
            }
          },
          "503": {
            "description": "Service is degraded — an upstream dependency (Iconify) is unreachable."
          }
        }
      },
      "options": {
        "tags": ["Status"],
        "summary": "CORS preflight for /api/status",
        "operationId": "getStatusPreflight",
        "responses": {
          "204": { "description": "Preflight OK" }
        }
      }
    }
  }
}
